.image-carousel-container {
	padding: var(--spacing-6);

	.image-carousel {
		border-radius: 40px;
		overflow: hidden;
		.carousel-image {
			border-radius: 40px;
			height: 500px;
			width: 100%;
		}
	}
}