.home {
			background-image: var(--gradient-bg-2);
	height: 600px;
	padding: var(--spacing-6);

	.container {
		border-radius: 40px;
		height: 100%;
		// background-image: var(--gradient-bg);
		background: url('https://picsum.photos/900/500');
		background-size: cover;
		display: flex;
		flex-direction: row;
		align-items: center;
		padding: var(--spacing-5);

		.heading {
			font-size: var(--fs-2xl);
			color: var(--neutral);
			text-transform: uppercase;
			font-weight: bolder;
			// text-align: left;
		}

		.btn {
			margin-top: var(--spacing-2);
			--bs-btn-bg: var(--primary-bg-lg);
			--bs-btn-border-color: var(--primary-bg);
			--bs-btn-hover-bg: var(--primary-bg);
			padding: var(--spacing-2) var(--spacing-5);
		}

		.hero-image-container {
			padding: 0 var(--spacing-5);

			.hero-image {
				// clip-path: polygon(0 0, );
				padding: 0;
				border-radius: 40px;
			}
		}
	}
}